:root {
  --main-bg-color: rgb(24, 43, 37);
  --main-error-color: #BF1A2F;
  --main-font-weight: 400;
  --main-font-size: 17px;
  --main-line-height: 22px;
  --smaller-font-size: calc(var(--main-font-size) * 0.88);
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: var(--main-font-size);
  font-weight: 400;
  line-height: var(--main-line-height);
}

a {
  text-decoration: none;
}

footer,
header {
  background-color: var(--main-bg-color);
}

header {
  color: white;
}

h1 { 
  font-size: var(--main-font-size * 1.647058824);
  line-height: var(--main-line-height * 1.545454545);
}

label {
  font-weight: 400;
}

footer {
  color: white;
  margin-top: 2.5rem;
  text-align: center;
}

form {
  margin-top: 2rem;
}

footer,
form,
.post-details {
  font-size: var(--smaller-font-size);
}

textarea {
  min-height: 100px;
}

header img {
  height: 50px;
  margin: 10px 0 5px 0;
  max-height: 50px;
  width: 230px;
}

.center {
  text-align: center;
}

.errors {
  background-color: var(--main-error-color);
  border-radius: 1rem;
  color: white;
  font-size: var(--smaller-font-size);
  margin-top: 1rem;
  padding: 2rem;
}

.index-post-title {
  font-weight: 600;
}

.post-title {

}

.reply {
  margin-bottom: 2.5rem;
}

.reply-comment {
  font-size: var(--smaller-font-size);
}

.compose-icon {
  padding-top: 20px;
}

.desktop-only {
  display: none;
}

@media (min-width: 750px) {
  .desktop-only {
    display: block;
  }
}
